focus-color = #06f
checked-color = #390
hover-color = #f40
btn-hover-color = #fff
btn-bg-img = linear-gradient(45deg, #f50 0, #e63 40%, #900 100%)
btn-bg-hover = linear-gradient(45deg, #d00 0, #f00 40%, #900 100%)

:root
  --c #e50
